name: Build push Docker images to Google Artifact Registry
on:
  push:
    branches:
      - main
env:
  PROJECT_ID: "org-admin-project-458013" # TODO: update to your Google Cloud project ID
  VERSION: ga-0.0.4

permissions:
  id-token: write
  contents: read

jobs:
  Build_and_Push:
    defaults:
      run:
        working-directory: ./src
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up Node.js"
        uses: actions/setup-node@v4

      - id: "auth"
        name: "Authenticate to GCP"
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "org-admin-project-458013"
          workload_identity_provider: "projects/965556181958/locations/global/workloadIdentityPools/github-pool/providers/github-pool-provider"

      - id: "gcloud"
        name: "gcloud"
        run: gcloud secrets versions access 1 --secret="gh-action-genesis-secret"

      - name: "Docker Auth"
        uses: "docker/login-action@v3"
        with:
          username: "oauth2accesstoken"
          password: "${{ steps.auth.outputs.auth_token }}"
          registry: "asia-southeast1-docker.pkg.dev"

      - name: "Build and push Docker container"
        run: |-
          DOCKER_TAG="asia-southeast1-docker.pkg.dev/heroic-night-453607-n0/web-app-repository/frontend:${VERSION}"

          docker build \
            --tag "${DOCKER_TAG}" \
            .

          docker push "${DOCKER_TAG}"
          
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'asia-southeast1-docker.pkg.dev/heroic-night-453607-n0/web-app-repository/frontend:${{ env.VERSION }}'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
  #     - name: Repository Dispatch
  #       uses: peter-evans/repository-dispatch@v3
  #       with:
  #         token: ${{ secrets.GIT_TOKEN }}
  #         repository: lehai2909/argocd-infra
  #         event-type: my-event
  #         client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

  # Update_infra_repo:
  #   runs-on: ubuntu-latest
  #   needs: Build_and_Push
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4
  #       with:
  #         repository: lehai2909/argocd-infra
  #         token: ${{ secrets.GIT_TOKEN }}
  #         ref: "main"

  #     - name: Commit and Push
  #       run: |
  #         if [ $(cat manifests/deployment.yaml | grep image: |  cut -d':' -f3) != ${VERSION} ]; then
  #           echo "not same version, push"
  #           sed -i "s/^ *image:.*/        image: asia-southeast1-docker.pkg.dev\/web-app-hosting-lehai\/web-frontend-repo\/frontend-react-app:${VERSION}/" manifests/deployment.yaml
  #           cat manifests/deployment.yaml
  #           git config --global user.email "lehai2909@gmail.com"
  #           git config --global user.name "lehai2909"
  #           git add .
  #           git commit -m "Update image to ${VERSION}"
  #           git push origin main
  #           exit 0
  #         else
  #           echo "same version, no push"
  #           exit 0
  #         fi
